<!-- Page Content -->
<header class="bgHeader py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">
                <!-- <img class="card-img-overlay" style="padding-top: 100px;" src="/assets/img/bgImg.png" />  -->
            </div>
            <div class="col-lg-10">
                <h1 class="display-6 mt-5 mb-1">In just a few steps make your unique content available</h1>
             
            </div>
          </div>
    </div>
</header>

<div class="container main-container">

    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-60 cardbg">
                <img class="img-fluid" src="/assets/img/videos/python.jpg" alt="">
                <div class="card-body">     
                    <h4 class="card-title">Develop</h4>
                    
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-warning">See</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-60 cardbg">
                <img class="img-fluid" src="/assets/img/videos/redes.jpg" alt="">
                <div class="card-body">     
                    <h4 class="card-title">Crypto</h4>
                   
                </div>
                <div class="card-footer">
                     <a href="#" class="btn btn-warning">See</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-60 cardbg">
                <img class="img-fluid" src="/assets/img/videos/hacker.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Security</h4>
                   
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-warning">See</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-60 cardbg">
                <img class="img-fluid" src="/assets/img/videos/scrum.jpg"  alt="">
                <div class="card-body">
                    <h4 class="card-title">Productivity</h4>
                    
                </div>
                <div class="card-footer">
                     <a href="#" class="btn btn-warning">See</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fim Content -->
