

<header class="py-5 mb-4">
</header>  
<div class="container">
    <h4 class="text-muted">You need an Ethereum wallet to use VIP class</h4>
</div>
<div class="container main-container container-fluid">



<div class="container-fluid">

<div class="container">


  <div class="row justify-content-around">
    <div class="col-4 col-sm-4">
      <figure class="figure">
  <a href="#">
  <img class="figure-img img-fluid rounded"  style="width: 60px; height:60px;" src="./assets/img/metamask-alternative.webp" /> 
  </a>
  <figcaption class="figure-caption wallet" style="font-weight: 700;"> Metamask</figcaption>
    <figcaption class="figure-caption wallet"> A browser extension with great flexibility. The web's most popular wallet</figcaption>
</figure>

    </div>
  
    <div class="col-4">
    <figure class="figure">
    <a href="#">
  <img class="figure-img img-fluid rounded"  style="width: 50px; height:50px;" src="./assets/img/touros.svg" /> 
   </a>
  <figcaption class="figure-caption wallet" style="font-weight: 700;"> Torus</figcaption>
    <figcaption class="figure-caption wallet"> Log in with Google, Facebook, or other OAuth providers</figcaption>
</figure>
    </div>
    <div class="col-4">
     <figure class="figure">
    <a href="#">
  <img class="figure-img img-fluid rounded"  style="width: 50px; height:50px;" src="./assets/img/portis.svg" /> 
  </a>
 <figcaption class="figure-caption wallet" style="font-weight: 700;"> Portis</figcaption>
   <figcaption class="figure-caption wallet"> A cloud-hosted wallet accessible from any device with built-in fiat support</figcaption>
</figure>
    </div>
  </div>
    <div class="w-100 d-none d-md-block"></div>

  <div class="row justify-content-around">
    <div class="col-4">
      <figure class="figure">
    <a href="#">
  <img class="figure-img img-fluid rounded"  style="width: 50px; height:50px;" src="./assets/img/coinbase.svg" /> 
    </a>
  <figcaption class="figure-caption wallet" style="font-weight: 700;"> Coinbase</figcaption>
   <figcaption class="figure-caption wallet"> A simple-to-use wallet that works on both mobile and through a browser extension</figcaption>
</figure>

    </div>
    <div class="col-4">
    <figure class="figure">
    <a href="#">
  <img class="figure-img img-fluid rounded"  style="width: 50px; height:50px;" src="./assets/img/fortmatic.svg" /> 
  </a>
  <figcaption class="figure-caption wallet" style="font-weight: 700;"> Fortmatic</figcaption>
    <figcaption class="figure-caption wallet"> A user-friendly wallet that allows you to sign up with your phone number on any device</figcaption>
</figure>
    </div>
    <div class="col-4">
     <figure class="figure">
     <a href="#">
  <img class="figure-img img-fluid rounded"  style="width: 50px; height:50px;" src="./assets/img/mywattervallet.svg" /> 
  </a>
  <figcaption class="figure-caption wallet" style="font-weight: 700;"> MyEtherWallet</figcaption>
    <figcaption class="figure-caption wallet"> Pair with Trust, Argent, MetaMask  & more. Works from any browser, without an extension</figcaption>
</figure>
    </div>
  </div>

</div> 

</div>

<div  class="container conteudo">
<div class="row">
   <div class="col wallet">
   <p> We do not own your private keys and cannot access your funds without your confirmation. </p>
 </div>
  </div>
 </div>
