<div class="sc-bdnylx sc-gtssRu sc-gkCpWe jMhaxE VVkoU eyIowp">
    <div class="sc-bdnylx sc-gtssRu jMhaxE hRSCro">
        <div class="sc-bdnylx sc-gtssRu jMhaxE kzUeOR">
            <div class="sc-bdnylx sc-gtssRu jMhaxE ezOZrj"><button type="button"
                    class="sc-iCoHVE sc-fujyUd sc-gXfWUo knnrxv gJJgrO cwEYtt">
                    <div class="sc-bdnylx sc-gtssRu jMhaxE kgjzcH">
                        <div class="sc-bdnylx sc-gtssRu jMhaxE kyrsUl"><svg viewBox="0 0 14 12" fill="none" width="14"
                                height="14" xlmns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.29436 0.292893C6.68488 -0.0976311 7.31805 -0.0976311 7.70857 0.292893C8.0991 0.683417 8.0991 1.31658 7.70857 1.70711L4.41568 5H12.9985C13.5508 5 13.9985 5.44772 13.9985 6C13.9985 6.55228 13.5508 7 12.9985 7H4.41568L7.70857 10.2929C8.0991 10.6834 8.0991 11.3166 7.70857 11.7071C7.31805 12.0976 6.68488 12.0976 6.29436 11.7071L0.587252 6L6.29436 0.292893Z"
                                    fill="currentColor"></path>
                            </svg></div><span class="sc-dlnjPT sc-hKFyIo cuIYFB bJSyfY">Manage collectible type</span>
                    </div>
                </button>
                <div class="sc-bdnylx sc-gtssRu jMhaxE jwHbwp"><span
                        class="sc-dlnjPT sc-hKFyIo sc-iIgiFR cuIYFB eJAQlC ksOUaE">Create multiple collectible</span>
                </div>
                <div class="sc-bdnylx sc-gtssRu jMhaxE kKdgjK">
                    <div class="sc-bdnylx sc-gtssRu jMhaxE qxmhD">
                        <div class="sc-bdnylx sc-gtssRu jMhaxE cOXomX">
                            <div class="sc-bdnylx sc-gtssRu jMhaxE cOXomX">
                                <div class="sc-bdnylx sc-gtssRu jMhaxE dnOchu">
                                    <div class="sc-bdnylx sc-gtssRu jMhaxE dgBtZD"><span
                                            class="sc-dlnjPT sc-hKFyIo cuIYFB dRJOSC">Upload file</span></div>
                                </div>
                                <div class="sc-bdnylx sc-gtssRu jMhaxE iKmJsq">
                                    <div class="sc-bdnylx sc-gtssRu sc-hcmsuR jMhaxE cOXomX UaqJU"><input hidden=""
                                            accept="image/png,image/jpeg,image/gif,image/webp,video/mp4,video/webm,audio/mp3,audio/webm,audio/mpeg"
                                            name="primary-attachment"
                                            data-marker="root/appPage/create/form/primaryAttachmentInput/input"
                                            type="file" class="sc-iqAbSa sc-kHWWFa gfcIZQ gGZeeB">
                                        <div class="sc-bdnylx sc-gtssRu jMhaxE kNmEdr"><span
                                                class="sc-dlnjPT sc-hKFyIo cuIYFB jbpZLN">PNG, GIF, WEBP, MP4 or MP3.
                                                Max 30mb.</span>
                                            <div class="sc-bdnylx sc-gtssRu jMhaxE jwHbwp"><button
                                                    class="sc-iCoHVE sc-fujyUd sc-pNWxx knnrxv gJJgrO dUppJM sc-kEqYlL kDjhtl"
                                                    type="button"><span class="sc-dlnjPT sc-hKFyIo cuIYFB edyjka">Choose
                                                        File</span></button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sc-bdnylx sc-gtssRu jMhaxE eboQNi">
                                <div class="sc-bdnylx sc-gtssRu jMhaxE bgSGoW">
                                    <div class="sc-bdnylx sc-gtssRu jMhaxE qxmhD"><span
                                            class="sc-dlnjPT sc-hKFyIo cuIYFB iqZseF"><span
                                                class="sc-dlnjPT sc-hKFyIo cuIYFB eJAQlC">Put on
                                                marketplace</span></span><span
                                            class="sc-dlnjPT sc-hKFyIo cuIYFB jFqRPW">Enter price to allow users
                                            instantly purchase your NFT</span></div>
                                    <div class="sc-bdnylx sc-gtssRu jMhaxE ksZsdY"><button type="button"
                                            data-marker="root/appPage/create/form/putOnSaleCheckbox"
                                            class="sc-iCoHVE sc-fujyUd sc-fnVYJo knnrxv gJJgrO cUAxRS"><input hidden=""
                                                name="instant-sale-checkbox" type="checkbox" aria-checked="true"
                                                class="sc-iqAbSa sc-crzoUp gfcIZQ gxsBtI" checked="">
                                            <div class="sc-bdnylx sc-gtssRu jMhaxE kgjzcH">
                                                <div value="true"
                                                    class="sc-bdnylx sc-gtssRu sc-dIsAE jMhaxE cOXomX fSuuRD">
                                                    <div value="true"
                                                        class="sc-bdnylx sc-gtssRu sc-bqGHjH jMhaxE cOXomX FGOzz"></div>
                                                </div>
                                            </div>
                                        </button></div>
                                </div>
                            </div>
                            <div class="sc-bdnylx sc-gtssRu jMhaxE jwHbwp">
                                <div class="sc-bdnylx sc-gtssRu jMhaxE cOXomX">
                                    <div class="sc-bdnylx sc-gtssRu sc-havuko jMhaxE cOXomX ja-duPm"><button
                                            type="button" data-marker="root/appPage/create/form/saleSelector/fixed/card"
                                            class="sc-iCoHVE sc-fujyUd sc-jcwofb sc-cfAQHH knnrxv gJJgrO jrmrXe eoFefw"><img
                                                alt="Fixed price" src="/static/9d1a757bd147c01b62ae9bdff89464e1.svg"
                                                loading="lazy"
                                                class="sc-eirseW sc-lbVuaH sc-gGLyOc evgNzS bzVxbF hSJDWM"
                                                style="opacity: 1;">
                                            <div class="sc-bdnylx sc-gtssRu jMhaxE jUIDUq"><span
                                                    class="sc-dlnjPT sc-hKFyIo sc-jCPRom cuIYFB klpZgN dKrEdQ">Fixed
                                                    price</span></div>
                                        </button><button type="button"
                                            data-marker="root/appPage/create/form/saleSelector/unlimited-auction/card"
                                            class="sc-iCoHVE sc-fujyUd sc-jcwofb sc-cfAQHH knnrxv gJJgrO klPydH eoFefw"><img
                                                alt="Unlimited auction"
                                                src="/static/8280566d92420c04514e327563bd739b.svg" loading="lazy"
                                                class="sc-eirseW sc-lbVuaH sc-gGLyOc evgNzS bzVxbF hSJDWM"
                                                style="opacity: 1;">
                                            <div class="sc-bdnylx sc-gtssRu jMhaxE jUIDUq"><span
                                                    class="sc-dlnjPT sc-hKFyIo sc-jCPRom cuIYFB klpZgN dKrEdQ">Unlimited
                                                    auction</span></div>
                                        </button></div>
                                </div>
                            </div>
                            <div class="sc-bdnylx sc-gtssRu jMhaxE eboQNi">
                                <div class="sc-bdnylx sc-gtssRu jMhaxE cOXomX">
                                    <div class="sc-bdnylx sc-gtssRu jMhaxE dnOchu">
                                        <div class="sc-bdnylx sc-gtssRu jMhaxE dgBtZD"><span
                                                class="sc-dlnjPT sc-hKFyIo cuIYFB dRJOSC">Price</span></div>
                                    </div>
                                    <div class="sc-bdnylx sc-gtssRu sc-dsXyEt jMhaxE btLtyH ShFZq">
                                        <div class="sc-bdnylx sc-gtssRu jMhaxE hEjFWz"><input inputmode="decimal"
                                                placeholder="Enter price for one piece" type="number" step="0.0001"
                                                data-marker="root/appPage/create/form/price/input/priceInput"
                                                class="sc-iqAbSa sc-jgPznn gfcIZQ iskmjs" value=""></div>
                                        <div class="sc-bdnylx sc-gtssRu jMhaxE imataO">
                                            <div class="sc-bdnylx sc-khIgXV jMhaxE eZiEu" aria-expanded="false"><span
                                                    class="sc-dlnjPT sc-hKFyIo cuIYFB hEVogm"><button type="button"
                                                        class="sc-iCoHVE sc-fujyUd sc-bShfyb knnrxv gJJgrO iuegcR"><span
                                                            class="sc-dlnjPT sc-hKFyIo cuIYFB ljrEBQ"><span
                                                                class="sc-dlnjPT sc-hKFyIo cuIYFB bJSyfY">ETH</span><span
                                                                class="sc-dlnjPT sc-hKFyIo cuIYFB dtyQxr"><svg
                                                                    viewBox="0 0 11 7" fill="none" width="10"
                                                                    height="10" xlmns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                                        d="M5.00146 6.41431L9.70857 1.7072C10.0991 1.31668 10.0991 0.683511 9.70857 0.292986C9.31805 -0.097538 8.68488 -0.097538 8.29436 0.292986L5.00146 3.58588L1.70857 0.292986C1.31805 -0.097538 0.684882 -0.097538 0.294358 0.292986C-0.0961662 0.68351 -0.0961662 1.31668 0.294358 1.7072L5.00146 6.41431Z"
                                                                        fill="currentColor"></path>
                                                                </svg></span></span></button></span></div>
                                        </div>
                                    </div>
                                </div><span data-marker="root/appPage/create/form/price/info"
                                    class="sc-dlnjPT sc-hKFyIo cuIYFB iZqVmq"><span
                                        class="sc-dlnjPT sc-hKFyIo cuIYFB eqUKIe"><span
                                            class="sc-dlnjPT sc-hKFyIo cuIYFB hEVogm">Service fee <span data-value="250"
                                                class="sc-dlnjPT sc-hKFyIo cuIYFB jwIGjj">2.5%</span></span><br><span
                                            class="sc-dlnjPT sc-hKFyIo cuIYFB hEVogm">You will receive <span
                                                class="sc-dlnjPT sc-hKFyIo cuIYFB hEVogm"><span
                                                    class="sc-dlnjPT sc-hKFyIo cuIYFB jwIGjj"><span
                                                        data-currency-symbol="ETH"
                                                        data-currency-address="0x0000000000000000000000000000000000000000"
                                                        data-price="0" class="sc-dlnjPT sc-hKFyIo cuIYFB hEVogm"><span
                                                            data-value="0"
                                                            class="sc-dlnjPT sc-hKFyIo cuIYFB hEVogm">0</span>
                                                        ETH</span><span class="sc-dlnjPT sc-hKFyIo cuIYFB fOZoiA"><span
                                                            data-value="0"
                                                            class="sc-dlnjPT sc-hKFyIo cuIYFB hEVogm">$0.00</span></span></span></span></span></span></span>
                            </div>
                            <div class="sc-bdnylx sc-gtssRu jMhaxE eboQNi">
                                <div class="sc-bdnylx sc-gtssRu jMhaxE bgSGoW">
                                    <div class="sc-bdnylx sc-gtssRu jMhaxE qxmhD"><span
                                            class="sc-dlnjPT sc-hKFyIo cuIYFB iqZseF"><span
                                                class="sc-dlnjPT sc-hKFyIo sc-jHNhIU cuIYFB eJAQlC cBtEgl">Unlock once
                                                purchased</span></span><span
                                            class="sc-dlnjPT sc-hKFyIo cuIYFB jFqRPW">Content will be unlocked after
                                            successful transaction</span></div>
                                    <div class="sc-bdnylx sc-gtssRu jMhaxE ksZsdY"><button type="button"
                                            data-marker="root/appPage/create/form/unlockableCheckbox"
                                            class="sc-iCoHVE sc-fujyUd sc-fnVYJo knnrxv gJJgrO cUAxRS"><input hidden=""
                                                name="lockable-checkbox" type="checkbox" aria-checked="false"
                                                class="sc-iqAbSa sc-crzoUp gfcIZQ gxsBtI">
                                            <div class="sc-bdnylx sc-gtssRu jMhaxE kgjzcH">
                                                <div value="false"
                                                    class="sc-bdnylx sc-gtssRu sc-dIsAE jMhaxE cOXomX gObcGh">
                                                    <div value="false"
                                                        class="sc-bdnylx sc-gtssRu sc-bqGHjH jMhaxE cOXomX bpbcBJ">
                                                    </div>
                                                </div>
                                            </div>
                                        </button></div>
                                </div>
                            </div>
                            <div class="sc-bdnylx sc-gtssRu jMhaxE eboQNi">
                                <div class="sc-bdnylx sc-gtssRu jMhaxE cOXomX">
                                    <div class="sc-bdnylx sc-gtssRu jMhaxE dnOchu">
                                        <div class="sc-bdnylx sc-gtssRu jMhaxE dgBtZD"><span
                                                class="sc-dlnjPT sc-hKFyIo cuIYFB dRJOSC">Choose collection</span></div>
                                    </div>
                                    <div class="sc-bdnylx sc-gtssRu jMhaxE jwHbwp">
                                        <div class="sc-bdnylx sc-gtssRu sc-hLyhSY jMhaxE cOXomX bnasma"><button
                                                type="button"
                                                data-marker="root/appPage/create/form/collectionSelector/createCollectionButton"
                                                class="sc-iCoHVE sc-fujyUd sc-jcwofb sc-ojhmt knnrxv gJJgrO klPydH eHXUSl">
                                                <div class="sc-bdnylx sc-gtssRu sc-cQDEqr jMhaxE cOXomX dNbJqp"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="42" height="42"
                                                        viewBox="0 0 50 50" fill="rgba(255, 255, 255, 1)">
                                                        <path
                                                            d="M25,2C12.317,2,2,12.317,2,25s10.317,23,23,23s23-10.317,23-23S37.683,2,25,2z M37,26H26v11h-2V26H13v-2h11V13h2v11h11V26z"
                                                            color="currentColor"></path>
                                                    </svg></div>
                                                <div class="sc-bdnylx sc-gtssRu jMhaxE iKmJsq">
                                                    <div class="sc-bdnylx sc-gtssRu jMhaxE kNmEdr"><span
                                                            class="sc-dlnjPT sc-hKFyIo cuIYFB huoEyb">Create</span><span
                                                            class="sc-dlnjPT sc-hKFyIo cuIYFB dQNobP">ERC-1155</span>
                                                    </div>
                                                </div>
                                            </button><button type="button"
                                                data-marker="root/appPage/create/form/collectionSelector/collectionButton/Rarible"
                                                class="sc-iCoHVE sc-fujyUd sc-jcwofb sc-ojhmt knnrxv gJJgrO jrmrXe eHXUSl">
                                                <div class="sc-bdnylx sc-hmbsMR jMhaxE yfAzs">
                                                    <div class="sc-bdnylx sc-eKYRpg jMhaxE kSVxnv">
                                                        <div class="sc-bdnylx sc-gtssRu sc-FRqcf jMhaxE jYUPxr dXpstt"
                                                            style="width: 40px; height: 40px;"><img
                                                                src="https://images.rarible.com/?fit=outsize&amp;n=-1&amp;url=https%3A%2F%2Fipfs.rarible.com%2Fipfs%2FQmUNbMmMtbzP5ZwpQ7X77cNEqR5DvEmDYqWvw1QQkx7nbE&amp;w=100"
                                                                class="sc-eirseW sc-lbVuaH sc-gGLyOc evgNzS camVCa hSJDWM sc-fbIXFq geecTj"
                                                                loading="lazy"
                                                                style="visibility: visible; position: relative; opacity: 1;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sc-bdnylx sc-gtssRu jMhaxE iKmJsq">
                                                    <div class="sc-bdnylx sc-gtssRu jMhaxE kNmEdr"><span
                                                            class="sc-dlnjPT sc-hKFyIo cuIYFB huoEyb">Rarible</span><span
                                                            class="sc-dlnjPT sc-hKFyIo cuIYFB dQNobP">RARI</span></div>
                                                </div>
                                            </button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="sc-bdnylx sc-gtssRu jMhaxE eboQNi">
                                <div class="sc-bdnylx sc-gtssRu jMhaxE cOXomX">
                                    <div class="sc-bdnylx sc-gtssRu jMhaxE dnOchu">
                                        <div class="sc-bdnylx sc-gtssRu jMhaxE dgBtZD"><span
                                                class="sc-dlnjPT sc-hKFyIo cuIYFB dRJOSC">Title</span></div>
                                    </div>
                                    <div class="sc-bdnylx sc-gtssRu sc-dsXyEt jMhaxE btLtyH ShFZq">
                                        <div class="sc-bdnylx sc-gtssRu jMhaxE hEjFWz"><input
                                                placeholder="e. g. &quot;Redeemable T-Shirt with logo&quot;"
                                                data-marker="root/appPage/create/form/nameInput" type="text"
                                                class="sc-iqAbSa sc-jgPznn gfcIZQ iskmjs" value=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="sc-bdnylx sc-gtssRu jMhaxE eboQNi">
                                <div class="sc-bdnylx sc-gtssRu jMhaxE cOXomX">
                                    <div class="sc-bdnylx sc-gtssRu jMhaxE dnOchu">
                                        <div class="sc-bdnylx sc-gtssRu jMhaxE dgBtZD"><span
                                                class="sc-dlnjPT sc-hKFyIo cuIYFB dRJOSC">Description</span><span
                                                class="sc-dlnjPT sc-hKFyIo cuIYFB hteVKi">(Optional)</span></div>
                                    </div>
                                    <div class="sc-bdnylx sc-gtssRu sc-dsXyEt jMhaxE btLtyH fbTgUU">
                                        <div class="sc-bdnylx sc-gtssRu jMhaxE hEjFWz"><textarea
                                                placeholder="e. g. &quot;After purchasing you’ll be able to get the real T-Shirt&quot;"
                                                data-marker="root/appPage/create/form/descriptionInput"
                                                class="sc-daBvwG sc-jUfxsr gTaSYg gxtrZv"
                                                style="height: 19px !important;"></textarea></div>
                                    </div><span class="sc-dlnjPT sc-hKFyIo cuIYFB joHgze">With preserved
                                        line-breaks</span>
                                </div>
                            </div>
                            <div class="sc-bdnylx sc-gtssRu jMhaxE eboQNi">
                                <div class="sc-bdnylx sc-gtssRu sc-knSEWW jMhaxE cOXomX ijGbKC">
                                    <div class="sc-bdnylx sc-gtssRu jMhaxE cOXomX">
                                        <div class="sc-bdnylx sc-gtssRu jMhaxE dnOchu">
                                            <div class="sc-bdnylx sc-gtssRu jMhaxE dgBtZD"><span
                                                    class="sc-dlnjPT sc-hKFyIo cuIYFB dRJOSC">Royalties</span></div>
                                        </div>
                                        <div class="sc-bdnylx sc-gtssRu sc-dsXyEt jMhaxE btLtyH ShFZq">
                                            <div class="sc-bdnylx sc-gtssRu jMhaxE hEjFWz"><input inputmode="decimal"
                                                    type="number" placeholder="E. g. 10%&quot;"
                                                    data-marker="root/appPage/create/form/royaltiesInput"
                                                    class="sc-iqAbSa sc-jgPznn gfcIZQ iskmjs" value="10"></div>
                                            <div class="sc-bdnylx sc-gtssRu jMhaxE imataO"><span
                                                    class="sc-dlnjPT sc-hKFyIo cuIYFB bqLcsl">%</span></div>
                                        </div><span class="sc-dlnjPT sc-hKFyIo cuIYFB joHgze">Suggested: 10%, 20%,
                                            30%</span>
                                    </div>
                                    <div class="sc-bdnylx sc-gtssRu jMhaxE cOXomX">
                                        <div class="sc-bdnylx sc-gtssRu jMhaxE dnOchu">
                                            <div class="sc-bdnylx sc-gtssRu jMhaxE dgBtZD"><span
                                                    class="sc-dlnjPT sc-hKFyIo cuIYFB dRJOSC">Number of copies</span>
                                            </div>
                                        </div>
                                        <div class="sc-bdnylx sc-gtssRu sc-dsXyEt jMhaxE btLtyH ShFZq">
                                            <div class="sc-bdnylx sc-gtssRu jMhaxE hEjFWz"><input inputmode="decimal"
                                                    type="number" placeholder="E. g. 10&quot;"
                                                    data-marker="root/appPage/create/form/amountInput"
                                                    class="sc-iqAbSa sc-jgPznn gfcIZQ iskmjs" value=""></div>
                                        </div><span class="sc-dlnjPT sc-hKFyIo cuIYFB joHgze">Amount of tokens</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sc-bdnylx sc-gtssRu jMhaxE eboQNi">
                                <div class="sc-bdnylx sc-gtssRu jMhaxE cOXomX">
                                    <div class="sc-bdnylx sc-gtssRu jMhaxE dnOchu">
                                        <div class="sc-bdnylx sc-gtssRu jMhaxE dgBtZD"><span
                                                class="sc-dlnjPT sc-hKFyIo cuIYFB dRJOSC">Properties</span><span
                                                class="sc-dlnjPT sc-hKFyIo cuIYFB hteVKi">(Optional)</span></div>
                                    </div>
                                    <div class="sc-bdnylx sc-gtssRu sc-kSCdcF jMhaxE cOXomX ggAodz">
                                        <div class="sc-bdnylx sc-gtssRu sc-dsXyEt jMhaxE btLtyH ShFZq">
                                            <div class="sc-bdnylx sc-gtssRu jMhaxE hEjFWz"><input
                                                    placeholder="e.g. Size" type="text"
                                                    class="sc-iqAbSa sc-jgPznn gfcIZQ iskmjs" value=""></div>
                                        </div>
                                        <div class="sc-bdnylx sc-gtssRu sc-dsXyEt jMhaxE btLtyH ShFZq">
                                            <div class="sc-bdnylx sc-gtssRu jMhaxE hEjFWz"><input placeholder="e.g. M"
                                                    type="text" class="sc-iqAbSa sc-jgPznn gfcIZQ iskmjs" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc-bdnylx sc-gtssRu jMhaxE jWkrTD">
                            <div class="sc-bdnylx sc-gtssRu jMhaxE cOXomX">
                                <div class="sc-bdnylx sc-gtssRu sc-jhDJkI jMhaxE cOXomX jcxHNf">
                                    <div class="sc-bdnylx sc-gtssRu jMhaxE cOXomX"><button
                                            class="sc-iCoHVE sc-fujyUd sc-pNWxx knnrxv gJJgrO jykqKo sc-kEqYlL gscxzJ"
                                            type="button" data-marker="root/appPage/create/form/createButton">Create
                                            item</button></div>
                                    <div class="sc-bdnylx sc-gtssRu sc-ensa-Dq jMhaxE cOXomX fPmIpI"><span
                                            class="sc-dlnjPT sc-hKFyIo cuIYFB fQYLmr">Unsaved changes <span
                                                class="sc-dlnjPT sc-hKFyIo cuIYFB dtyQxr"><button type="button"
                                                    class="sc-iCoHVE sc-fujyUd sc-jhGSUB knnrxv dphjQT pOkpu"><svg
                                                        viewBox="0 0 8 12" fill="none" width="10" height="10"
                                                        xlmns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M4.65936 7.67C4.65936 6.995 5.01936 6.605 5.54436 6.215L6.11436 5.795C7.01436 5.12 7.56936 4.295 7.56936 3.095C7.56936 1.595 6.35436 0.139999 3.92436 0.139999C1.73436 0.139999 0.429355 1.625 0.429355 3.38C0.429355 3.575 0.444355 3.8 0.489355 4.01L2.58936 4.085C2.57436 4.025 2.54436 3.875 2.54436 3.53C2.54436 2.825 3.05436 2.12 3.92436 2.12C4.82436 2.12 5.25936 2.69 5.25936 3.275C5.25936 3.665 5.12436 4.025 4.71936 4.325L3.95436 4.895C3.09936 5.54 2.81436 6.305 2.81436 7.01C2.81436 7.25 2.82936 7.46 2.87436 7.67H4.65936ZM2.52936 9.86C2.52936 10.565 3.09936 11.15 3.81936 11.15C4.53936 11.15 5.12436 10.565 5.12436 9.86C5.12436 9.14 4.53936 8.555 3.81936 8.555C3.09936 8.555 2.52936 9.14 2.52936 9.86Z"
                                                            fill="currentColor"></path>
                                                    </svg></button></span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sc-bdnylx sc-gtssRu jMhaxE jLKWNS">
                        <div class="sc-bdnylx jMhaxE"><span class="sc-dlnjPT sc-hKFyIo cuIYFB jqiANB">Preview</span>
                            <div class="sc-bdnylx sc-gtssRu jMhaxE iKmJsq">
                                <div class="sc-bdnylx sc-iNiQeE sc-hYRTcE jMhaxE iOipgc cWmyoM">
                                    <div class="sc-JsfGe iBNMkc"></div>
                                    <div class="sc-bdnylx sc-iNiQeE sc-cGKHXZ jMhaxE iOipgc kuOANs">
                                        <div class="sc-bdnylx sc-gtssRu jMhaxE eniOfM"><span
                                                class="sc-dlnjPT sc-hKFyIo cuIYFB jbpZLN">Upload file to preview your
                                                brand new NFT</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>