<div class="container">
    <div class="inner-container">
        <header class=" bg-black text-white">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start navbar">
                <img class="logo" src="assets/Default/Logo.svg"/>
                <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></div>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2"><b>Login</b></button>
                    <button type="button" class="btn btn-warning"><b>Sign-up</b></button>
                </div>
            </div>
        </header>
        <router-outlet></router-outlet>
    </div>
</div>