<header class="py-5 mb-4">
</header>  
<div class="container">
    <h1 class="text-muted">Create </h1>
</div>

<div class="container main-container">



    <div class="container main-container container-fluid">
        <div class="row"> 
            <div class="col-sm-6 text-center">
                <mat-card>
               <h3 class="text-muted"> Single Item </h3>  
            
               <a class="btn btn-warning btn-block text-white" [routerLink]="['/product/add-new']">
                <mat-icon>
                    filter_1
                   </mat-icon>
                Create Single
            </a>
            </mat-card>
            </div>
            <div class="col-sm-6 text-center text-muted">
                <mat-card>
                <h3  class="text-muted"> Collection </h3>  
                <a class="btn btn-warning btn-block text-white" [routerLink]="['/product/add-collection']">
                    <mat-icon>
                        auto_awesome_motion
                       </mat-icon>
                    Create Collection
                
                </a>
            </mat-card>
            </div>
       
        </div>
    </div>
            
    <div class="text-center">
        <h4 class="text-muted">We do not own your private keys and cannot access your funds without your confirmation</h4>
    </div>
</div>